# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/
*.out

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# Build tools
/out/
build/

# Local configs / secrets
src/main/resources/app.properties

# Misc
hs_err_pid*
